<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="studio.smartters.mowardsurvey">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SurveyMainActivity"
            android:label="Enter Family Details"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".SurveyItemActivity"
            android:label="Enter Member Details" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BoothActivity"
            android:label="Booth Committee"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".ViewDataActivity"
            android:label="All Survey Data"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".PersonDataActivity"
            android:theme="@style/NoBar" />
        <activity
            android:name=".HelpRequestActivity"
            android:label="All Help Requests"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".HelpDetailsActivity"
            android:label="Person Details" />
        <activity android:name=".NoAdharActivity"
            android:label="No Adhar List"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".NoVoterActivity"
            android:label="No Voter List"
            android:parentActivityName=".HomeActivity"/>
    </application>

</manifest>